body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card.
*/

section {
    box-sizing: border-box;
    border: solid 2px #000000; 
    width: 40vh;
    height: 50vh;
    margin: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

div {
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
}